package templates

templ Layout(name string) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>Go boilerplate</title>
			@templ.Raw(ctx.Value("assets").(string))
		</head>
		<body>
			<h1>Hello {name}</h1>
			<main>
				{ children... }
			</main>
		</body>
	</html>
}
